// jQuery
script(src="/plugins/jquery/jquery.min.js")
// Bootstrap
script(src="/plugins/bootstrap/js/bootstrap.bundle.min.js")
// overlayScrollbars
script(src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")
// toastr
script(src="/plugins/toastr/toastr.min.js")
// Moment
script(src="/plugins/moment/moment.min.js")
// AdminLTE App
script(src="/dist/js/adminlte.js")